# Example environment variables
DATABASE_URL="postgresql://silip_user:silip_password@localhost:5432/silip_db"

# Redis
REDIS_URL="redis://localhost:6379"

# App
NEXT_PUBLIC_APP_URL="http://localhost:3000"
